<form id="secret-form">
  <input type="text" name="secret[title]" value="<%= @secret.title %>">

  <input type="submit">
</form>

<script>
  $("#secret-form").find('input[type="submit"]').on(
    "click",
    function (event) {
      event.preventDefault();
      var formData = $(this.form).serialize();
      var that = this;

      $.ajax({
        url: '<%= user_secrets_path(user_id) %>',
        type: "POST",
        data: formData,
        success: function () {
          $('ul').append('<li>' + formData.split("=")[1] + '</li>');
          $('#secret-form').find('input[type="text"]').val("");
          console.log("you posted a new secret!");
        },
        error: function () {
          console.log("you failed to post a new secret.");
        }
      });
    }
  );
</script>