<form id="secret-form">
  <input type="text" name="secret[title]" value="<%= @secret.title %>">

  <input type="submit">
</form>

<script>
  $("#secret-form").find('input[type="submit"]').on(
    "click",
    function (event) {
      event.preventDefault();
      var formData = $(this.form).serialize();

      $.ajax({
        url: '<%= user_secrets_path(params[:user_id]) %>',
        type: "POST",
        data: formData,
        success: function () {
          console.log("you posted a new secret!");
        },
        error: function () {
          console.log("you failed to post a new secret.");
        }
      });
    }
  );
</script>